In [56]:
import pandas as pd

In [57]:
df = pd.read_csv("./csv/beijing_tianqi_2018.csv")
df.head()

          ymd bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
0  2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
1  2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2  2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
3  2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
4  2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

### 2.设置索引为日期

In [58]:
df.set_index("ymd",inplace=True)
df.index

Index(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-06', '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
       ...
       '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25', '2018-12-26',
       '2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30', '2018-12-31'],
      dtype='object', name='ymd', length=365)

In [59]:
df.head()

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01     3℃    -6℃   晴~多云       东北风   1-2级   59       良         2
2018-01-02     2℃    -5℃   阴~多云       东北风   1-2级   49       优         1
2018-01-03     2℃    -5℃     多云        北风   1-2级   28       优         1
2018-01-04     0℃    -8℃      阴       东北风   1-2级   28       优         1
2018-01-05     3℃    -6℃   多云~晴       西北风   1-2级   50       优         1

### 3.替换掉温度后缀

In [60]:
df.loc[:,'bWendu'] = df['bWendu'].str.replace("℃","").astype('int32')
df.loc[:,'yWendu'] = df['yWendu'].str.replace("℃","").astype('int32')
# df.loc[ , ]= , 不能直接是 df =
df.head()

C:\Users\asus\AppData\Local\Temp\ipykernel_34400\3420529147.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'bWendu'] = df['bWendu'].str.replace("℃","").astype('int32')
C:\Users\asus\AppData\Local\Temp\ipykernel_34400\3420529147.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'yWendu'] = df['yWendu'].str.replace("℃","").astype('int32')

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01       3      -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02       2      -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03       2      -5     多云        北风   1-2级   28       优         1
2018-01-04       0      -8      阴       东北风   1-2级   28       优         1
2018-01-05       3      -6   多云~晴       西北风   1-2级   50       优         1

### 3.使用数值区间进行范围查询
loc：按index查询 iloc：按数查询

In [61]:
df.loc['2018-01-03':'2018-01-05','bWendu':'fengxiang']

            bWendu  yWendu tianqi fengxiang
ymd
2018-01-03       2      -5     多云        北风
2018-01-04       0      -8      阴       东北风
2018-01-05       3      -6   多云~晴       西北风

### 4.使用条件表达式查询

In [62]:
# 查询最高温度小于30，且最低温度大于15度，并且是晴天，并且天气为优的数据
# df.loc[(df['bWendu'] <=30) & (df['yWendu'] >=15) & (df['tianqi'] == '晴') & (df['aqiInfo'] == '优')]
df[(df['bWendu'] <= 30) & (df['yWendu'] >= 15) & (df['tianqi'] == '晴') & (df['aqiInfo'] == '优')]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-08-24      30      20      晴        北风   1-2级   40       优         1
2018-09-07      27      16      晴       西北风   3-4级   22       优         1

### 5.调用函数查询

In [63]:
df[lambda x:(x['bWendu'] <=30) & (x['yWendu'] >= 15) ]

            bWendu  yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-04-28      27      17      晴       西南风   3-4级  125    轻度污染         3
2018-04-29      30      16     多云        南风   3-4级  193    中度污染         4
2018-05-04      27      16   晴~多云       西南风   1-2级   86       良         2
2018-05-09      29      17   晴~多云       西南风   3-4级   79       良         2
2018-05-10      26      18     多云        南风   3-4级  118    轻度污染         3
...            ...     ...    ...       ...    ...  ...     ...       ...
2018-09-15      26      15     多云        北风   3-4级   42       优         1
2018-09-17      27      17   多云~阴        北风   1-2级   37       优         1
2018-09-18      25      17   阴~多云       西南风   1-2级   50       优         1
2018-09-19      26      17     多云        南风   1-2级   52       良         2
2018-09-20      27      16     多云       西南风   1-2级   63       良         2

[64 rows x 8 columns]

## pandas怎样新增数据列？

### 1.直接赋值

In [64]:
# df.loc[:,'wencha'] = df['bWendu'] - df['yWendu']
df['wencha'] = df['bWendu'] - df['yWendu']
# df.loc[:,'wencha'] = df[df['bWendu'] - df['yWendu']]是错的，因为df['bWendu'] - df['yWendu']才是Series
df.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha
ymd,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9

### 2.df.apply方法

In [65]:
df['wencha1'] = df.apply(lambda x: x['bWendu']-x['yWendu'],axis=1)
df.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wencha1
ymd,,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,9
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,7
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,7
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,8
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,9

 必须axis=1，1：表示横向计算（列增减）；0：表示纵向计算（行增减）

In [66]:
def get_wendu_type(x):
    if x['bWendu'] > 33:
        return '高温'
    if x['yWendu'] < -10:
        return '低温'
    return '常温'
df['wendu_type'] = df.apply(get_wendu_type,axis=1)
df.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wencha1,wendu_type
ymd,,,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,9,常温
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,7,常温
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,7,常温
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,8,常温
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,9,常温

查看温度类型的计数

In [67]:
df['wendu_type'].value_counts()

常温    328
高温     29
低温      8
Name: wendu_type, dtype: int64

### 3 df.assign方法
可以同时添加多个新的列
不会修改原来的df

In [68]:
df.assign(
    yWendu_hs = lambda x: x['yWendu'] * 9 /5 + 32,
    bWendu_hs = lambda x: x['bWendu'] * 9 /5 + 32
)

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wencha1,wendu_type,yWendu_hs,bWendu_hs
ymd,,,,,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,9,常温,21.2,37.4
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,7,常温,23.0,35.6
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,7,常温,23.0,35.6
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,8,常温,17.6,32.0
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,9,常温,21.2,37.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,-5,-12,多云~晴,西北风,3级,48,优,1,7,7,低温,10.4,23.0
2018-12-28,-3,-11,晴,西北风,3级,40,优,1,8,8,低温,12.2,26.6
2018-12-29,-3,-12,晴,西北风,2级,29,优,1,9,9,低温,10.4,26.6
2018-12-30,-2,-11,晴~多云,东北风,1级,31,优,1,9,9,低温,12.2,28.4
2018-12-31,-2,-10,多云,东北风,1级,56,良,2,8,8,常温,14.0,28.4

### 4.按条件选择分组分别赋值

In [69]:
df['wencha_type'] = df.apply(lambda x:"温差大" if (x['bWendu'] - x['yWendu'] > 10) else "温差正常",axis=1)
df.head()

,bWendu,yWendu,tianqi,fengxiang,fengli,aqi,aqiInfo,aqiLevel,wencha,wencha1,wendu_type,wencha_type
ymd,,,,,,,,,,,,
2018-01-01,3,-6,晴~多云,东北风,1-2级,59,良,2,9,9,常温,温差正常
2018-01-02,2,-5,阴~多云,东北风,1-2级,49,优,1,7,7,常温,温差正常
2018-01-03,2,-5,多云,北风,1-2级,28,优,1,7,7,常温,温差正常
2018-01-04,0,-8,阴,东北风,1-2级,28,优,1,8,8,常温,温差正常
2018-01-05,3,-6,多云~晴,西北风,1-2级,50,优,1,9,9,常温,温差正常

## 数据统计函数

### 1.汇总类统计
只能对数字类型的统计计算

In [70]:
df.describe()

           bWendu      yWendu         aqi    aqiLevel      wencha     wencha1
count  365.000000  365.000000  365.000000  365.000000  365.000000  365.000000
mean    18.665753    8.358904   82.183562    2.090411   10.306849   10.306849
std     11.858046   11.755053   51.936159    1.029798    2.781233    2.781233
min     -5.000000  -12.000000   21.000000    1.000000    2.000000    2.000000
25%      8.000000   -3.000000   46.000000    1.000000    8.000000    8.000000
50%     21.000000    8.000000   69.000000    2.000000   10.000000   10.000000
75%     29.000000   19.000000  104.000000    3.000000   12.000000   12.000000
max     38.000000   27.000000  387.000000    6.000000   18.000000   18.000000

In [71]:
df['bWendu'].mean()

18.665753424657535

### 2.唯一去重和按值计数

In [72]:
df['fengxiang'].unique()

array(['东北风', '北风', '西北风', '西南风', '南风', '东南风', '东风', '西风'], dtype=object)

In [73]:
df['fengxiang'].value_counts()

南风     92
西南风    64
北风     54
西北风    51
东南风    46
东北风    38
东风     14
西风      6
Name: fengxiang, dtype: int64

### 3.相关系数和协方差

In [74]:
df.cov()

C:\Users\asus\AppData\Local\Temp\ipykernel_34400\3514997398.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

              bWendu      yWendu          aqi   aqiLevel     wencha    wencha1
bWendu    140.613247  135.529633    47.462622   0.879204   5.083614   5.083614
yWendu    135.529633  138.181274    16.186685   0.264165  -2.651641  -2.651641
aqi        47.462622   16.186685  2697.364564  50.749842  31.275937  31.275937
aqiLevel    0.879204    0.264165    50.749842   1.060485   0.615038   0.615038
wencha      5.083614   -2.651641    31.275937   0.615038   7.735255   7.735255
wencha1     5.083614   -2.651641    31.275937   0.615038   7.735255   7.735255

In [75]:
df.corr()

C:\Users\asus\AppData\Local\Temp\ipykernel_34400\1886530979.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            bWendu    yWendu       aqi  aqiLevel    wencha   wencha1
bWendu    1.000000  0.972292  0.077067  0.071999  0.154142  0.154142
yWendu    0.972292  1.000000  0.026513  0.021822 -0.081106 -0.081106
aqi       0.077067  0.026513  1.000000  0.948883  0.216523  0.216523
aqiLevel  0.071999  0.021822  0.948883  1.000000  0.214740  0.214740
wencha    0.154142 -0.081106  0.216523  0.214740  1.000000  1.000000
wencha1   0.154142 -0.081106  0.216523  0.214740  1.000000  1.000000

In [76]:
df['bWendu'].corr(df['aqi'])

0.07706705916811077

In [77]:
df['aqi'].corr(df['bWendu']- df['yWendu'])

0.21652257576382047